:root {
  --background-color: #f1f8f8;
  --primary-color: #00b0b8;
  --text-color: #353535;
  --title-color: #ffffff;
  --color-text-title: #32264D;
  --color-box-base: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body,
input,
button {
  font: 400 0.8rem Archivo;
}